<section class="section brd-btm" id="self">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">Self-Evaluation</h2>

            <dl class="dl-horizontal clear-mrg">

                <p>Over 10 years of working experience as HR executive and HR manager</p>
                

                <p>Expert in pay plan, recruitment and employee relations</p>


                <p>National Certificate of Human Resource Managers (Class 2)</p>

                
                <p>Psychologist</p>

                
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
