<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">Work Experience</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>Oct. <strong class="text-upper">2015</strong> - pres. <strong>2021</strong></span>
                    </time>
                    <h3>Shanghai ACHIEVE-TECH PRINTING & PACKAGING Co., Ltd</h3>
                    <span class="education-company">HR Manager</span>
                    <p>process various practices of HR management,involve HR policy decision</p>
                    <p>According to business requirement, Develop and implement annual HR strategies, Manage the recruitment and selection process</p>
                    <p>Collect request from core business，Provide decision support through HR metrics, Support future business needs</p>
                    <p>Bridge management and employee relations，Establish effective internal communication channels, Promote to build corporate culture</p>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span>May. <strong class="text-upper">2010</strong> - Oct. <strong>2015</strong></span>
                    </time>
                    <h3>FUTIAN INDUSTRY GROUP Co., Ltd</h3>
                    <span class="education-company">Hiring Manager</span>
                    <p>Design HR annual budget aligned with the overall business strategy</p>
                    <p>Control HR cost aligned with financial budget</p>
                    <p>Develop and implement annual recruitment based on requirement</p>
                    <p>Build and improve the hiring process and system</p>
                    <p>Make Job description, implement interview, selection and hiring</p>
                    <p>Establish talent selection plan and talent preservation plan</p>
                </div>
                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span>May. <strong class="text-upper">2006</strong> - Mar. <strong>2010</strong></span>
                    </time>
                    <h3>AXA (Shanghai) Co., Ltd.</h3>
                    <span class="education-company">HR Generalist</span>                    
                    <p>Responsible for recruitment, on-board, training, termination and HR related task</p>
                    <p>Responsible for implement payroll, benefits, Social Insurance and etc</p>
                    <p>Manage and execute employee attendance, reward</p>
                    <p>Manage employee relations and  communicate other issues</p>
                    <p>Information input and data analysis, Report the result to management</p>
                </div>

            </div>
        </div>
    </div>
</section><!-- .section -->
