<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">Education</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/ECNU_Emblem.png' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>
                
                <div class="ref-info">
                    <div class="ref-author">
                        <strong>East China Normal University</strong>
                        <span>2007 - 2009 | Applied Linguistics</span>
                    </div>


                 </div>
             </div><!-- .ref-box -->          
                    
             <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/jianqiao.png' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>
                    
                <div class="ref-info">
                    <div class="ref-author">
                        <strong>Shanghai Jian Qiao University</strong>
                        <span>2002 - 2005 | Business English</span>
                    </div>


                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
