<section class="section brd-btm" id="self">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">Self-Evaluation</h2>

            <dl class="dl-horizontal clear-mrg">

                <dd class="text-thin">Over 10 years of working experience as HR executive and HR manager</dt>
                

                <dd class="text-thin">Expert in pay plan, recruitment and employee relations</dt>


                <dd class="text-thin">National Certificate of Human Resource Managers (Class 2)</dt>

                
                <dd class="text-thin">Psychologist</dt>

                
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
