<section class="section brd-btm" id="basic_info">
    <div class="row">
                
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">Basic Info</h2>    
        </div><!-- .col-sm-12 -->       
        
        <div class="col-sm-6 clear-mrg">

            <dl class="dl-horizontal clear-mrg">

                <dt class="text-upper">Name</dt>
                <dd>Sherry Xue</dd>
                
                <dt class="text-upper">Mobile</dt>
                <dd>18516261826</dd>

                <dt class="text-upper">Mail</dt>
                <dd>34106075@qq.com</dd>

                <dt class="text-upper">Address</dt>
                <dd>Putuo, Shanghai</dd>
                
            </dl>
        </div><!-- .col-sm-6 -->
        
        <div class="col-sm-6 offset-sm-6 clear-mrg">

            <dl class="dl-horizontal clear-mrg">

                <dt class="text-upper">DateofBirth</dt>
                <dd>Mar.1984</dd>

                <dt class="text-upper">Work</dt>
                <dd>16 years</dd>
                
                <dt class="text-upper">School</dt>
                <dd>East China Normal University</dd>                
                
                <dt class="text-upper">Degree</dt>
                <dd>Bachelor of Arts</dd>   
              
            </dl>
        </div><!-- .col-sm-6 col-sm-6 -->  
        
    </div><!-- .row -->
</section><!-- .section -->
